body {
    background-image: url('../img/space.gif');
    background-repeat: repeat; 
    margin-top: 50px; 
    background-color: chartreuse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: red; 
    text-align: center;
}

h1 {
    margin: 0 auto; 
    color: yellow; 
    background-color: hotpink;
}

h1:hover {
    background-color: darkblue;
    color: hotpink; 
}

.sunset {
    position: absolute;
    top: 25px; 
    left: 550px; 
    z-index: 5; 

}

#comet {
    position: absolute; 
    animation-name: fly;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes fly {
    0% {
        top: 0px; 
        left: 0px; 
    }

    33% {
        top: 250px; 
        left: 250px; 
    }

    66% {
        top: 500px; 
        left: 500px; 
    }


    100% {
        top: 750px; 
        right:0px; 
    }
}